<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="font-size: 30px;font-family: Diplomata, cursive; color: #668dd6 " href="#">Sixty Seconds Pitch</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" style="font-weight: bolder;" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('main.interview')}}">Interviews</a>
                
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('main.pick_up_line')}}">Pick-ups</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('main.promotion')}}">Promotions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('main.product')}}">Products</a>
            </li>

        </ul>
        <ul class="navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
            <li class="nav-item"><a href="{{url_for('main.profile',uname=current_user.username)}}"
                    style="color:rgb(231, 195, 195); font-weight:bolder;">Profile</a></li>
            <li class="nav-item"><a href="{{url_for('main.profile',uname=current_user.username)}}"
                    style="color:rgb(175, 12, 12); font-weight:bolder;">{{current_user.username}}</a></li>
            <li class="nav-item"><a href="{{url_for('auth.logout')}}" style="color:cyan; font-weight:bolder;">Sign out</a></li>
            {% else %}
            <li class="nav-item"><a href="{{url_for('auth.login')}}" style="color:cyan; font-weight:bolder;">Log in</a></li>
            {%endif%}
        </ul>
       
    </div>
</nav>