{% extends 'base.html' %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block content%}
    <div class="container-fluid text-white d-flex justify-content-center bg-dark">
        <a href="{{url_for('main.index')}}">
                <button type="button" class="btn btn-primary btn-sm" style="margin-bottom:10px;">
                        <span class="glyphicon glyphicon-chevron-left" ></span> Back
                </button>
        </a>
        {{wtf.quick_form(new_pitch_form)}}
    </div>

   
{% endblock %}